{% extends "app/base.html"%}
{% block content %}
    <!-- /.content-wrapper -->
    <div class="container-fluid">

      <!-- Page Heading -->
      <nav aria-label="breadcrumb" style="color: #ffffff;">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#"></a><i class="fas fa-home" style="color: #570404;"></i></li>
          <li class="breadcrumb-item active" aria-current="page">Project List</li>
        </ol>
      </nav>

      <!-- DataTales Example -->
      <div class="card shadow mb-4">
          <div class="card-header py-3">
              <h6 class="d-flex justify-content-start font-weight-bold" style="color: #570404;">Project List</h6>
                <div class="d-flex align-items-center justify-content-end "> 
                    <a href="project_list_form/">
                      <button class=" btn btn-round ml-auto" style="background: #2E1114;" >
                       <i class="fa fa-plus"></i>
                      Add Project
                      </button>
                    </a>
                </div>
                </div>

          <div class="card-body">
              <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                      <thead>
                          <tr>
                              <th>#</th>
                              <th>Use Case Name</th>
                              <th>Created Date</th>
                              <th>Action</th>
                          </tr>
                      </thead>
                      <tfoot>
                          <tr>
                              <th>#</th>
                              <th>Use Case Name</th>
                              <th>Created Date</th>
                              <th>Action</th>
                          </tr>
                      </tfoot>
                      <tbody>
                          {% for getdata in resultsdisplay%}
                          <tr>
                            <td>{{getdata.no}}</td>
                            <td>{{getdata.usecasename}}</td>
                            <td>{{getdata.timestamp}}</td>
                            <td>
                              <div class="form-button-action">
                                <a href="update_project/{{getdata.no}}"><button class="btn btn-warning btn-round ml-auto" >
                                  Edit
                                </button></a>
                                <a href="scenario_list/{{getdata.no}}"><button class="btn btn-info btn-round ml-auto" >
                                  Scenario
                                </button></a>
                                <a href="coba/{{getdata.no}}"><button class="btn btn-success btn-round ml-auto" >
                                  Generate
                                </button></a>
                                <a href="project_delete/{{getdata.no}}"><button class="btn btn-danger btn-round ml-auto" >
                                  Delete
                                </button></a>
                              </div>
                            </td>
                          </tr>
                          {% endfor %}
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
      {% endblock content %}
