{%extends "app/base.html"%}
{%block content%}
    <!-- /.content-wrapper -->
    <div class="container-fluid">

      <!-- Page Heading -->
      <h1 class="h3 mb-2 text-gray-800">Tables</h1>

      <!-- DataTales Example -->
      <div class="card shadow mb-4">
          <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
          </div>
          <div class="card-body">
              <form action="" method="POST">	
                     {% csrf_token %}
									<div class="form-group form-group-default">
                                        <label>NO Project</label>
										{{form.projectno}}
                                    </div>
                                    <div class="form-group form-group-default">
										<label>ID</label>
										{{form.scenarioid}}
                                    </div>
                                    <div class="form-group form-group-default">
										<label >Scenario Type</label>
                                        {{form.scenariotype}}

                                    </div>
                                    <div class="form-group form-group-default">
										<label >Scenario ID Yes</label>
                                        {{form.postscenarioidyes}}

                                    </div>
                                    <div class="form-group form-group-default">
										<label>Scenario ID No</label>
                                        {{form.postscenarioidno}}

                                    </div>
                                    <div class="form-group form-group-default">
										<label>Scenario</label>
										{{form.scenario}}
                                    </div>
                                    <div class="form-group form-group-default">
										<label>Pre-Scenario ID</label>
										{{form.prescenarioid}}
                                    </div>
                                    <div class="form-group form-group-default">
										<label>Post-Scenario ID</label>
										{{form.postscenarioid}}
                                    </div>
                                    <div class="form-group form-group-default">
									</div>
                <div class="card-action">
                  <button class="btn btn-success" type="submit" value="Add">Submit</button>
                  <a onClick="javascript:history.go(-1);" class="btn btn-danger ml-auto"><span class="btn-label">
                                </span>Back</a>
                </div>     
               </form>
            </div>
      </div>
      <!--card end-->
      <!-- card start-->
    </div>
      <div class="card shadow mb-4">
        SCENARIO
    </div>
    <!--card scenario end-->
      <!--container fluid end-->
    {% endblock content%}