{%extends "app/base.html"%}
{%block content%}
    <!-- /.content-wrapper -->
    <div class="container-fluid">

      <!-- Page Heading -->
      

      <!-- DataTales Example -->
      <div class="card shadow mb-4 mt-5">
          <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold" style="color:  #570404;">Add Scenario</h6>
          </div>
          <div class="card-body">
              <form action="" method="POST">	
                     {% csrf_token %}
									<div class="form-group form-group-default">
                                       {{form.as_p}}
                <div class="card-action">
                  <button class="btn btn-success" type="submit" value="Add">Submit</button>
                  <a onClick="javascript:history.go(-1);" class="btn btn-danger ml-auto"><span class="btn-label">
                                </span>Back</a>
                </div>     
               </form>
            </div>
      </div>
      <!--card end-->
      <!-- card start-->
    </div>
      
    <!--card scenario end-->
      <!--container fluid end-->
    {% endblock content%}